In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf

In [55]:
all_congress = pd.read_csv('congress_main.csv')
all_congress.head()
all_congress['TransactionDate'] = pd.to_datetime(all_congress['TransactionDate'])
all_congress.head()

,ReportDate,TransactionDate,Ticker,Representative,Transaction,Amount,Party,House,Range,Sentiment,Price,Low_End,High_End,Adjusted_Low_End,Adjusted_High_End,Running_Portfolio_Low_End,Running_Portfolio_High_End,Est_Portfolio_Value,Shares_High_End,Shares_Low_End
0,2018-05-15,2018-03-05,WFC,A. Mitchell Jr. McConnell,Purchase,1001.0,R,Senate,1001 - 15000,NaN,49.059349,1001.0,15000.0,-1001.0,-15000.0,-3003.0,-45000.0,-24001.5,-305.752120,-20.403858
1,2018-06-13,2018-06-01,WFC,A. Mitchell Jr. McConnell,Purchase,1001.0,R,Senate,1001 - 15000,NaN,46.939678,1001.0,15000.0,-1001.0,-15000.0,-4004.0,-60000.0,-32002.0,-319.559072,-21.325242
2,2018-09-14,2018-09-06,WFC,A. Mitchell Jr. McConnell,Purchase,1001.0,R,Senate,1001 - 15000,NaN,50.084381,1001.0,15000.0,-1001.0,-15000.0,-5005.0,-75000.0,-40002.5,-299.494566,-19.986271
3,2019-03-06,2019-03-05,WFC,A. Mitchell Jr. McConnell,Purchase,1001.0,R,Senate,1001 - 15000,NaN,43.876400,1001.0,15000.0,-1001.0,-15000.0,-7007.0,-105000.0,-56003.5,-341.869433,-22.814087
4,2019-06-14,2019-06-03,VMC,A. Mitchell Jr. McConnell,Sale,250001.0,R,Senate,250001 - 500000,NaN,123.395256,250001.0,500000.0,250001.0,500000.0,241993.0,380000.0,310996.5,4052.019634,2026.017921

In [70]:
returns = pd.read_csv('returns.csv')
returns.head()
#set date as index
returns.index = returns.Date.astype('datetime64[ns]')
#drop date column
returns.drop('Date', axis=1, inplace=True)
returns

,MAR,NOV,AMJ,SUN,SEP,0QZI.IL,3V64.TI,A,AA,AAGIY,...,ZG,ZI,ZIMV,ZION,ZLNDY,ZM,ZS,ZTS,ZUO,ZURVY
Date,,,,,,,,,,,,,,,,,,,,,
2018-01-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00,0.000000,0.000,0.000000,0.000000,0.000000,0.000,0.000000
2018-01-02,127.941688,35.398296,18.066355,16.403414,38.057026,71.434113,0.000000,64.865364,54.232346,31.791235,...,42.299999,0.000000,0.00,42.626472,26.469,0.000000,0.000000,69.128304,0.000,21.814405
2018-01-03,130.524460,36.408302,18.510612,16.670454,38.821484,71.434113,0.000000,66.515800,53.573730,32.028351,...,42.730000,0.000000,0.00,42.576012,27.167,0.000000,0.000000,69.446152,0.000,21.764240
2018-01-04,129.807022,36.966217,18.632940,16.460234,39.014896,71.434113,0.000000,66.016830,53.770336,31.909794,...,42.009998,0.000000,0.00,42.752571,27.230,0.000000,0.000000,69.860313,0.000,21.929068
2018-01-05,128.563492,36.764214,18.459103,16.198866,38.305702,71.434113,0.000000,67.072357,53.170696,31.645321,...,42.340000,0.000000,0.00,42.769402,27.166,0.000000,0.000000,70.659790,0.000,22.115393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-27,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,225.550003,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00,0.000000,0.000,0.000000,0.000000,0.000000,0.000,0.000000
2023-08-28,202.529999,20.680000,23.770000,44.830002,0.000000,295.000000,225.050003,119.919998,28.480000,34.970001,...,49.209999,17.879999,11.47,34.900002,14.630,67.570000,141.339996,186.979996,8.880,46.400002
2023-08-29,206.149994,20.930000,23.879999,45.419998,0.000000,295.500000,226.149994,122.019997,29.610001,36.080002,...,49.740002,17.840000,11.85,35.439999,15.210,68.809998,144.389999,192.770004,8.910,47.090000
2023-08-30,205.350006,21.110001,23.950001,45.840000,0.000000,299.500000,0.000000,122.680000,29.510000,36.230000,...,51.180000,17.790001,12.00,34.990002,15.100,68.669998,147.279999,192.699997,9.050,46.930000
2023-08-31,203.679993,21.125000,23.940001,46.020000,0.000000,0.000000,0.000000,121.110001,29.940001,36.049999,...,50.919998,18.020000,11.80,35.500000,15.580,71.029999,156.050003,190.500000,9.115,46.900002

In [72]:
import pandas as pd
import numpy as np
from dateutil.relativedelta import relativedelta
# Function to calculate variance for a given row in all_congress
def calculate_variance(row):
    ticker = row['Ticker']
    transaction_date = row['TransactionDate']
    
    # Find the index in returns corresponding to the TransactionDate
    index = transaction_date
    
    # Calculate variance for the next 3 months (90 days)
    end_index = transaction_date + relativedelta(months=3)
    variance = np.var(returns[ticker][index:end_index])
    
    return variance

# Apply the calculate_variance function to each row in all_congress
all_congress['Variance'] = all_congress.apply(calculate_variance, axis=1)

# Now, all_congress DataFrame contains the Variance column with calculated variances
all_congress.Variance.unique()

array([  294.68418498,   349.93953765,   331.18057001, ...,
       10942.59976292,   424.25824546,   142.28037837])